# DATAFRAMES 2

In [1]:
%config Completer.use_jedi = False
%config IPCompleter.greedy=True

In [2]:
import pandas as pd

In [3]:
james_bond = pd.read_csv('../Dados/jamesbond.csv')
james_bond.head(4)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

### Atualizando o index do dataframe com `.set_index` e `.reset_index`

In [4]:
james_bond = pd.read_csv('../Dados/jamesbond.csv')
james_bond.head(4)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [5]:
james_bond.set_index(keys=["Year"], inplace=True)
james_bond.head(3)

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [6]:
james_bond.reset_index(drop=False, inplace=True)
james_bond.head(4)

,Year,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
0,1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1,1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
2,1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7

In [7]:
james_bond.set_index("Film", inplace=True)
james_bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [8]:
james_bond.reset_index(drop=False, inplace=True)
james_bond.set_index("Year", inplace=True)

In [9]:
james_bond.head(3)

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2

### Acessando e recuperando linhas (registros) com o método `.loc[]`

In [10]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)
james_bond.head(4)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [11]:
james_bond.loc["Goldfinger"]

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [12]:
james_bond.loc["Spectre"]

Year                         2015
Actor                Daniel Craig
Director               Sam Mendes
Box Office                  726.7
Budget                      206.3
Bond Actor Salary             NaN
Name: Spectre, dtype: object

In [13]:
james_bond.loc["Casino Royale"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [14]:
james_bond.loc["Diamonds Are Forever":"From Russia With Love"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN

In [15]:
james_bond.loc[["Die Another Day", "Octopussy"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [16]:
#james_bond.loc[["Die Another Day", "Octopussy", "Gold Bond"]]

"Gold Bond" in james_bond.index

False

### Extraindo os índices com o método `.iloc[]`

In [17]:
james_bond = pd.read_csv('../Dados/jamesbond.csv')
james_bond.head(4)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [18]:
james_bond.iloc[0]
james_bond.iloc[16]
james_bond.iloc[[11, 20]]
james_bond.iloc[[5,7,8]]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN

In [19]:
james_bond.iloc[3:14]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [20]:
james_bond.iloc[:4]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [21]:
james_bond.set_index("Film", inplace=True)

In [22]:
james_bond.sort_index
james_bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [23]:
james_bond.iloc[10]

Year                          1977
Actor                  Roger Moore
Director             Lewis Gilbert
Box Office                     533
Budget                        45.1
Bond Actor Salary              NaN
Name: The Spy Who Loved Me, dtype: object

### Argumentos secundários para os métodos `.loc[]` e `.iloc[]`

In [24]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)
james_bond.head(4)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [25]:
james_bond.loc["Moonraker", "Actor"]

'Roger Moore'

In [26]:
james_bond.loc["Moonraker", ["Actor", "Year"]]
james_bond.loc["Moonraker", ["Actor", "Year", "Director"]]

Actor         Roger Moore
Year                 1979
Director    Lewis Gilbert
Name: Moonraker, dtype: object

In [27]:
james_bond.loc[["Moonraker", "Casino Royale"], ["Actor", "Year", "Director"]]

                      Actor  Year         Director
Film
Moonraker       Roger Moore  1979    Lewis Gilbert
Casino Royale  Daniel Craig  2006  Martin Campbell
Casino Royale   David Niven  1967       Ken Hughes

In [28]:
james_bond.loc[ "Casino Royale":"GoldenEye", "Actor":"Budget"]

                                Actor         Director  Box Office  Budget
Film
Casino Royale            Daniel Craig  Martin Campbell       581.5   145.3
Casino Royale             David Niven       Ken Hughes       315.0    85.0
Diamonds Are Forever     Sean Connery     Guy Hamilton       442.5    34.7
Die Another Day        Pierce Brosnan     Lee Tamahori       465.4   154.2
Dr. No                   Sean Connery    Terence Young       448.8     7.0
For Your Eyes Only        Roger Moore        John Glen       449.4    60.2
From Russia with Love    Sean Connery    Terence Young       543.8    12.6
GoldenEye              Pierce Brosnan  Martin Campbell       518.5    76.9

### Os parâmetros acima tbm funcionam com `iloc[]` e valores númericos

In [29]:
james_bond.iloc[11:16, 2:5]

                                       Director  Box Office  Budget
Film
Live and Let Die                   Guy Hamilton       460.3    30.8
Moonraker                         Lewis Gilbert       535.0    91.5
Never Say Never Again            Irvin Kershner       380.0    86.0
Octopussy                             John Glen       373.8    53.9
On Her Majesty's Secret Service   Peter R. Hunt       291.5    37.3

### Atualizando valores em células com `.loc[]` e `.iloc[]`

In [30]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)

In [31]:
james_bond.loc["Dr. No", "Actor"] = "Leonardo Esperança"
james_bond.loc["Dr. No"]

Year                               1962
Actor                Leonardo Esperança
Director                  Terence Young
Box Office                        448.8
Budget                                7
Bond Actor Salary                   0.6
Name: Dr. No, dtype: object

In [32]:
james_bond.loc["GoldenEye", ["Box Office", "Budget", "Bond Actor Salary"]] = [1000.0, 9.9, 5.4]
james_bond.loc["GoldenEye"]

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                      1000
Budget                           9.9
Bond Actor Salary                5.4
Name: GoldenEye, dtype: object

### Alterando valores multiplos em um Dataframe

In [33]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)
james_bond.head(4)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [34]:
is_sean_connery = james_bond["Actor"] == "Sean Connery"

In [35]:
james_bond[is_sean_connery]["Actor"] = "Sir Sean Connery"

<ipython-input-35-7a8e667bb4b4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  james_bond[is_sean_connery]["Actor"] = "Sir Sean Connery"

In [36]:
james_bond.loc[is_sean_connery, "Actor"] = "Sir Sean Connery"

In [37]:
james_bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

### Alterando o nome de colunas ou de index labels em um Dataframe

In [38]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)
james_bond.head(4)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [39]:
james_bond.rename({"GoldenEye": "Golden Eye"}, axis='index')
james_bond.rename({"GoldenEye": "Golden Eye"}, axis='rows')
james_bond.rename({"GoldenEye": "Golden Eye"}, axis=0)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [40]:
james_bond.rename({"Actor": "Bond Actor", "Year":"Launch Year"}, axis='columns')
james_bond.rename({"Actor": "Bond Actor", "Year":"Launch Year"}, axis=1)

,Launch Year,Bond Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [41]:
james_bond.columns

Index(['Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [42]:
james_bond.columns = ['Year Of Release', 'Bond Actor', 'Film Director', 'Revenue', 'Budget',
       'Bond Actor Salary']

In [43]:
james_bond.columns

Index(['Year Of Release', 'Bond Actor', 'Film Director', 'Revenue', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [44]:
james_bond.head(3)

,Year Of Release,Bond Actor,Film Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

### Deletando colunas ou linhas do Dataframe

In [45]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)
james_bond.head(4)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [46]:
james_bond.drop("A View to a Kill")
james_bond.drop(["Die Another Day", "Casino Royale"])
james_bond.drop(["Die Another Day", "Casino Royale"], axis='rows')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [47]:
james_bond.drop("Box Office", axis='columns')

,Year,Actor,Director,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,59.9,4.4

In [48]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)

In [49]:
actor = james_bond.pop("Actor")
actor

Film
A View to a Kill                      Roger Moore
Casino Royale                        Daniel Craig
Casino Royale                         David Niven
Diamonds Are Forever                 Sean Connery
Die Another Day                    Pierce Brosnan
Dr. No                               Sean Connery
For Your Eyes Only                    Roger Moore
From Russia with Love                Sean Connery
GoldenEye                          Pierce Brosnan
Goldfinger                           Sean Connery
Licence to Kill                    Timothy Dalton
Live and Let Die                      Roger Moore
Moonraker                             Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
On Her Majesty's Secret Service    George Lazenby
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
The Living Daylights               Timothy Dalton
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
The World Is Not Enough            Pierce Brosnan
Thunderball                          Sean Connery
Tomorrow Never Dies                Pierce Brosnan
You Only Live Twice                  Sean Connery
Name: Actor, dtype: object

In [50]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)

In [51]:
del james_bond["Year"]
james_bond

,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

### Criando amostras randômicas com o Dataframe

In [52]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)

In [53]:
james_bond.sample(n=3)
james_bond.sample(frac=.3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN

In [54]:
james_bond.sample(n=3, axis='columns')

                                 Box Office  Bond Actor Salary           Actor
Film
A View to a Kill                      275.2                9.1     Roger Moore
Casino Royale                         581.5                3.3    Daniel Craig
Casino Royale                         315.0                NaN     David Niven
Diamonds Are Forever                  442.5                5.8    Sean Connery
Die Another Day                       465.4               17.9  Pierce Brosnan
Dr. No                                448.8                0.6    Sean Connery
For Your Eyes Only                    449.4                NaN     Roger Moore
From Russia with Love                 543.8                1.6    Sean Connery
GoldenEye                             518.5                5.1  Pierce Brosnan
Goldfinger                            820.4                3.2    Sean Connery
Licence to Kill                       250.9                7.9  Timothy Dalton
Live and Let Die                      460.3                NaN     Roger Moore
Moonraker                             535.0                NaN     Roger Moore
Never Say Never Again                 380.0                NaN    Sean Connery
Octopussy                             373.8                7.8     Roger Moore
On Her Majesty's Secret Service       291.5                0.6  George Lazenby
Quantum of Solace                     514.2                8.1    Daniel Craig
Skyfall                               943.5               14.5    Daniel Craig
Spectre                               726.7                NaN    Daniel Craig
The Living Daylights                  313.5                5.2  Timothy Dalton
The Man with the Golden Gun           334.0                NaN     Roger Moore
The Spy Who Loved Me                  533.0                NaN     Roger Moore
The World Is Not Enough               439.5               13.5  Pierce Brosnan
Thunderball                           848.1                4.7    Sean Connery
Tomorrow Never Dies                   463.2               10.0  Pierce Brosnan
You Only Live Twice                   514.2                4.4    Sean Connery

### Os métodos `.nsmallest()` e `.nlargest()`

In [55]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)

In [56]:
james_bond.nlargest(3, columns="Box Office")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [57]:
james_bond.nsmallest(5, columns="Box Office")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [58]:
james_bond.nlargest(3, columns="Budget")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

### Filtrando registros com os métodos `.where()` e `.query()`

In [59]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)

In [60]:
mask = james_bond["Actor"] == "Sean Connery"
james_bond[mask]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [61]:
james_bond.where(mask)
james_bond.where(mask).dropna()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [62]:
james_bond.where(james_bond["Box Office"] < 400)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985.0,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,1967.0,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,NaN,NaN,NaN,NaN,NaN,NaN
Licence to Kill,1989.0,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983.0,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969.0,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,1987.0,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974.0,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,NaN,NaN,NaN,NaN,NaN,NaN
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.columns = [column_name.replace(" ", "_") for column_name in james_bond.columns]

james_bond.sort_index(inplace=True)
james_bond.head(1)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [64]:
james_bond.query("Actor == 'Sean Connery'")
james_bond.query("Bond_Actor_Salary > 12.4")

james_bond.query("Actor != 'Sean Connery' and Bond_Actor_Salary > 7.4")
james_bond.query("Actor in ['Daniel Craig', 'Sean Connery']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

### O método `.apply()` em Dataframes

In [65]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)
james_bond.head(1)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [66]:
def str_and_text(number):
    return str(number) + " Millions!!!"

In [67]:
columns = ["Box Office", "Budget", "Bond Actor Salary"]

for col in columns:
    james_bond[col] = james_bond[col].apply(str_and_text)
    
james_bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 Millions!!!,54.5 Millions!!!,9.1 Millions!!!
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 Millions!!!,145.3 Millions!!!,3.3 Millions!!!
Casino Royale,1967,David Niven,Ken Hughes,315.0 Millions!!!,85.0 Millions!!!,nan Millions!!!

### O método `.apply()` com linhas inteiras do dataframe

In [68]:
james_bond = pd.read_csv('../Dados/jamesbond.csv', index_col="Film")
james_bond.sort_index(inplace=True)
james_bond.head(1)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [69]:
def ranking(row):
    
    actor = row[1]
    budget = row[4]
    
    if actor == "Daniel Craig":
        return "Best Movie Ever!!!"
    elif budget > 40.0:
        return "Good Movie!!"
    else:
        return "No Clue!"

In [70]:
james_bond["Ranking"] = james_bond.apply(ranking, axis='columns')
james_bond.head(10)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,Ranking
Film,,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,Good Movie!!
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,Best Movie Ever!!!
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,Good Movie!!
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,No Clue!
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,Good Movie!!
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,No Clue!
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN,Good Movie!!
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,No Clue!
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1,Good Movie!!
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,No Clue!