# GroupBy

In [1]:
%config Completer.use_jedi = False
%config IPCompleter.greedy=True

In [3]:
import pandas as pd

In [11]:
fortune = pd.read_csv("../Dados/fortune1000.csv", index_col="Rank")
sectors = fortune.groupby(by="Sector")
fortune.head(10)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
9,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450

In [12]:
fortune.groupby(by="Sector")

## O m√©todo `.groupby()`

In [14]:
fortune = pd.read_csv("../Dados/fortune1000.csv", index_col="Rank")
sectors = fortune.groupby(by="Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [16]:
len(sectors), len(fortune)

(21, 1000)

In [18]:
fortune["Sector"].nunique()

21

In [19]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [22]:
sectors.first()
sectors.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred‚Äôs,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy‚Äôs,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [28]:
sectors.groups
sectors.groups.get("Apparel")

Int64Index([91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
            882, 917],
           dtype='int64', name='Rank')

In [29]:
fortune.loc[[91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
            882, 917]]

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter‚Äôs,Apparel,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

## Obtendo os registros de um grupo com `.get_group()`

In [30]:
fortune = pd.read_csv("../Dados/fortune1000.csv", index_col="Rank")
sectors = fortune.groupby(by="Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [34]:
sectors.get_group("Energy")
sectors.get_group("Retailing")
sectors.get_group("Apparel")

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter‚Äôs,Apparel,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

## M√©todos em um objeto `GroupBy` e um colunas de um `Dataframe`

In [35]:
fortune = pd.read_csv("../Dados/fortune1000.csv", index_col="Rank")
sectors = fortune.groupby(by="Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [45]:
# Todas Colunas
sectors.max()
sectors.min()
# Colunas Numericas
sectors.sum() 
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [49]:
sectors["Employees"].sum()
sectors["Profits"].max()
sectors[["Profits", "Revenue"]].max()

                              Profits  Revenue
Sector
Aerospace & Defense              7608    96114
Apparel                          3273    30601
Business Services                6328    19330
Chemicals                        7685    48778
Energy                          16150   246204
Engineering & Construction        803    18114
Financials                      24442   210821
Food and Drug Stores             5237   153290
Food, Beverages & Tobacco        7351    67702
Health Care                     18108   181241
Hotels, Resturants & Leisure     5920    25413
Household Products               7036    78756
Industrials                      4833   140389
Materials                         991    22534
Media                            8382    52465
Motor Vehicles & Parts           9687   152356
Retailing                       14694   482130
Technology                      53394   233715
Telecommunications              17879   146801
Transportation                   7610    58363
Wholesalers                      1472    48681

## Agrupando por multiplas colunas

In [51]:
fortune = pd.read_csv("../Dados/fortune1000.csv", index_col="Rank")
sectors = fortune.groupby(by=["Sector", "Industry"])
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [53]:
sectors.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [55]:
sectors.sum()
sectors["Revenue"].max()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            96114
Apparel              Apparel                                          30601
Business Services    Advertising, marketing                           15134
                     Diversified Outsourcing Services                 14329
                     Education                                         2984
                                                                      ...
Transportation       Trucking, Truck Leasing                           6572
Wholesalers          Miscellaneous                                     8982
                     Wholesalers: Diversified                         30380
                     Wholesalers: Electronics and Office Equipment    43026
                     Wholesalers: Food and Grocery                    48681
Name: Revenue, Length: 79, dtype: int64

## O m√©todo `.agg()`

In [57]:
fortune = pd.read_csv("../Dados/fortune1000.csv", index_col="Rank")
sectors = fortune.groupby(by=["Sector", "Industry"])
fortune.head(2)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600

In [58]:
sectors.agg({"Revenue":"max","Profits":"sum","Employees":"mean"})

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                            96114
Apparel             Apparel                                          30601
Business Services   Advertising, marketing                           15134
                    Diversified Outsourcing Services                 14329
                    Education                                         2984
...                                                                    ...
Transportation      Trucking, Truck Leasing                           6572
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                         30380
                    Wholesalers: Electronics and Office Equipment    43026
                    Wholesalers: Food and Grocery                    48681

                                                                   Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                            28742
Apparel             Apparel                                           8236
Business Services   Advertising, marketing                            1549
                    Diversified Outsourcing Services                  4305
                    Education                                           69
...                                                                    ...
Transportation      Trucking, Truck Leasing                           1910
Wholesalers         Miscellaneous                                       17
                    Wholesalers: Diversified                          5193
                    Wholesalers: Electronics and Office Equipment     1857
                    Wholesalers: Food and Grocery                     1166

                                                                      Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                          48402.850000
Apparel             Apparel                                        23093.133333
Business Services   Advertising, marketing                         62050.000000
                    Diversified Outsourcing Services               50595.000000
                    Education                                      15585.000000
...                                                                         ...
Transportation      Trucking, Truck Leasing                        18939.555556
Wholesalers         Miscellaneous                                   9200.000000
                    Wholesalers: Diversified                        9353.240000
                    Wholesalers: Electronics and Office Equipment  20832.625000
                    Wholesalers: Food and Grocery                  19317.500000

[79 rows x 3 columns]

In [61]:
sectors.agg(["size", "sum", "min", "mean", "max", "median"])

                                                                  Revenue  \
                                                                     size
Sector              Industry
Aerospace & Defense Aerospace and Defense                              20
Apparel             Apparel                                            15
Business Services   Advertising, marketing                              2
                    Diversified Outsourcing Services                   14
                    Education                                           3
...                                                                   ...
Transportation      Trucking, Truck Leasing                             9
Wholesalers         Miscellaneous                                       1
                    Wholesalers: Diversified                           25
                    Wholesalers: Electronics and Office Equipment       8
                    Wholesalers: Food and Grocery                       6

                                                                           \
                                                                      sum
Sector              Industry
Aerospace & Defense Aerospace and Defense                          357940
Apparel             Apparel                                         95968
Business Services   Advertising, marketing                          22748
                    Diversified Outsourcing Services                64829
                    Education                                        7485
...                                                                   ...
Transportation      Trucking, Truck Leasing                         35950
Wholesalers         Miscellaneous                                    8982
                    Wholesalers: Diversified                       176138
                    Wholesalers: Electronics and Office Equipment  147906
                    Wholesalers: Food and Grocery                  111774

                                                                         \
                                                                    min
Sector              Industry
Aerospace & Defense Aerospace and Defense                          1923
Apparel             Apparel                                        2204
Business Services   Advertising, marketing                         7614
                    Diversified Outsourcing Services               2383
                    Education                                      1910
...                                                                 ...
Transportation      Trucking, Truck Leasing                        2094
Wholesalers         Miscellaneous                                  8982
                    Wholesalers: Diversified                       1917
                    Wholesalers: Electronics and Office Equipment  3219
                    Wholesalers: Food and Grocery                  7652

                                                                                 \
                                                                           mean
Sector              Industry
Aerospace & Defense Aerospace and Defense                          17897.000000
Apparel             Apparel                                         6397.866667
Business Services   Advertising, marketing                         11374.000000
                    Diversified Outsourcing Services                4630.642857
                    Education                                       2495.000000
...                                                                         ...
Transportation      Trucking, Truck Leasing                         3994.444444
Wholesalers         Miscellaneous                                   8982.000000
                    Wholesalers: Diversified                        7045.520000
                    Wholesalers: Electronics and Office Equipment  18488.250000
                    Wholesalers: Food and Grocery                  18629.000000

                                                                          \
                                                                     max
Sector              Industry
Aerospace & Defense Aerospace and Defense                          96114
Apparel             Apparel                                        30601
Business Services   Advertising, marketing                         15134
                    Diversified Outsourcing Services               14329
                    Education                                       2984
...                                                                  ...
Transportation      Trucking, Truck Leasing                         6572
Wholesalers         Miscellaneous                                   8982
                    Wholesalers: Diversified                       30380
                    Wholesalers: Electronics and Office Equipment  43026
                    Wholesalers: Food and Grocery                  48681

                                                                            \
                                                                    median
Sector              Industry
Aerospace & Defense Aerospace and Defense                           6832.0
Apparel             Apparel                                         3963.0
Business Services   Advertising, marketing                         11374.0
                    Diversified Outsourcing Services                3037.0
                    Education                                       2591.0
...                                                                    ...
Transportation      Trucking, Truck Leasing                         3321.0
Wholesalers         Miscellaneous                                   8982.0
                    Wholesalers: Diversified                        5305.0
                    Wholesalers: Electronics and Office Equipment  18310.0
                    Wholesalers: Food and Grocery                  12064.0

                                                                  Profits  \
                                                                     size
Sector              Industry
Aerospace & Defense Aerospace and Defense                              20
Apparel             Apparel                                            15
Business Services   Advertising, marketing                              2
                    Diversified Outsourcing Services                   14
                    Education                                           3
...                                                                   ...
Transportation      Trucking, Truck Leasing                             9
Wholesalers         Miscellaneous                                       1
                    Wholesalers: Diversified                           25
                    Wholesalers: Electronics and Office Equipment       8
                    Wholesalers: Food and Grocery                       6

                                                                               \
                                                                     sum  min
Sector              Industry
Aerospace & Defense Aerospace and Defense                          28742 -240
Apparel             Apparel                                         8236   82
Business Services   Advertising, marketing                          1549  455
                    Diversified Outsourcing Services                4305  -12
                    Education                                         69 -101
...                                                                  ...  ...
Transportation      Trucking, Truck Leasing                         1910    1
Wholesalers         Miscellaneous                                     17   17
                    Wholesalers: Diversified                        5193 -502
                    Wholesalers: Electronics and Office Equipment   1857  -44
                    Wholesalers: Food and Grocery                   1166   52

                                                                                \
                                                                          mean
Sector              Industry
Aerospace & Defense Aerospace and Defense                          1437.100000
Apparel             Apparel                                         549.066667
Business Services   Advertising, marketing                          774.500000
                    Diversified Outsourcing Services                307.500000
                    Education                                        23.000000
...                                                                        ...
Transportation      Trucking, Truck Leasing                         212.222222
Wholesalers         Miscellaneous                                    17.000000
                    Wholesalers: Diversified                        207.720000
                    Wholesalers: Electronics and Office Equipment   232.125000
                    Wholesalers: Food and Grocery                   194.333333

                                                                         \
                                                                    max
Sector              Industry
Aerospace & Defense Aerospace and Defense                          7608
Apparel             Apparel                                        3273
Business Services   Advertising, marketing                         1094
                    Diversified Outsourcing Services               1453
                    Education                                       140
...                                                                 ...
Transportation      Trucking, Truck Leasing                         427
Wholesalers         Miscellaneous                                    17
                    Wholesalers: Diversified                       1472
                    Wholesalers: Electronics and Office Equipment   572
                    Wholesalers: Food and Grocery                   687

                                                                          \
                                                                  median
Sector              Industry
Aerospace & Defense Aerospace and Defense                          566.5
Apparel             Apparel                                        233.0
Business Services   Advertising, marketing                         774.5
                    Diversified Outsourcing Services               202.5
                    Education                                       30.0
...                                                                  ...
Transportation      Trucking, Truck Leasing                        198.0
Wholesalers         Miscellaneous                                   17.0
                    Wholesalers: Diversified                       128.0
                    Wholesalers: Electronics and Office Equipment  212.0
                    Wholesalers: Food and Grocery                  101.0

                                                                  Employees  \
                                                                       size
Sector              Industry
Aerospace & Defense Aerospace and Defense                                20
Apparel             Apparel                                              15
Business Services   Advertising, marketing                                2
                    Diversified Outsourcing Services                     14
                    Education                                             3
...                                                                     ...
Transportation      Trucking, Truck Leasing                               9
Wholesalers         Miscellaneous                                         1
                    Wholesalers: Diversified                             25
                    Wholesalers: Electronics and Office Equipment         8
                    Wholesalers: Food and Grocery                         6

                                                                           \
                                                                      sum
Sector              Industry
Aerospace & Defense Aerospace and Defense                          968057
Apparel             Apparel                                        346397
Business Services   Advertising, marketing                         124100
                    Diversified Outsourcing Services               708330
                    Education                                       46755
...                                                                   ...
Transportation      Trucking, Truck Leasing                        170456
Wholesalers         Miscellaneous                                    9200
                    Wholesalers: Diversified                       233831
                    Wholesalers: Electronics and Office Equipment  166661
                    Wholesalers: Food and Grocery                  115905

                                                                          \
                                                                     min
Sector              Industry
Aerospace & Defense Aerospace and Defense                           6955
Apparel             Apparel                                         5978
Business Services   Advertising, marketing                         49200
                    Diversified Outsourcing Services                2400
                    Education                                      11585
...                                                                  ...
Transportation      Trucking, Truck Leasing                         1223
Wholesalers         Miscellaneous                                   9200
                    Wholesalers: Diversified                         500
                    Wholesalers: Electronics and Office Equipment   2000
                    Wholesalers: Food and Grocery                   6655

                                                                                 \
                                                                           mean
Sector              Industry
Aerospace & Defense Aerospace and Defense                          48402.850000
Apparel             Apparel                                        23093.133333
Business Services   Advertising, marketing                         62050.000000
                    Diversified Outsourcing Services               50595.000000
                    Education                                      15585.000000
...                                                                         ...
Transportation      Trucking, Truck Leasing                        18939.555556
Wholesalers         Miscellaneous                                   9200.000000
                    Wholesalers: Diversified                        9353.240000
                    Wholesalers: Electronics and Office Equipment  20832.625000
                    Wholesalers: Food and Grocery                  19317.500000

                                                                           \
                                                                      max
Sector              Industry
Aerospace & Defense Aerospace and Defense                          197200
Apparel             Apparel                                         65300
Business Services   Advertising, marketing                          74900
                    Diversified Outsourcing Services               216500
                    Education                                       23400
...                                                                   ...
Transportation      Trucking, Truck Leasing                         33100
Wholesalers         Miscellaneous                                    9200
                    Wholesalers: Diversified                        39600
                    Wholesalers: Electronics and Office Equipment   78500
                    Wholesalers: Food and Grocery                   51700


                                                                    median
Sector              Industry
Aerospace & Defense Aerospace and Defense                          24803.0
Apparel             Apparel                                        13500.0
Business Services   Advertising, marketing                         62050.0
                    Diversified Outsourcing Services               18550.0
                    Education                                      11770.0
...                                                                    ...
Transportation      Trucking, Truck Leasing                        18415.0
Wholesalers         Miscellaneous                                   9200.0
                    Wholesalers: Diversified                        5839.0
                    Wholesalers: Electronics and Office Equipment  13750.0
                    Wholesalers: Food and Grocery                  11925.0

[79 rows x 18 columns]

## Iterando sobre grupos de um `GroupBy`

In [71]:
fortune = pd.read_csv("../Dados/fortune1000.csv", index_col="Rank")
sectors = fortune.groupby(by=["Sector"])
fortune.head(2)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600

In [72]:
df = pd.DataFrame(columns = fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [73]:
for sector, data in sectors:
    highest_rev_company_in_group = data.nlargest(1, "Revenue")
    df = df.append(highest_rev_company_in_group)

In [74]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald‚Äôs,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [76]:
cities = fortune.groupby("Location")
df = pd.DataFrame(columns = fortune.columns)
for city, data in cities:
    highest_rev_company_by_city = data.nlargest(1, "Revenue")
    df = df.append(highest_rev_company_by_city)
    
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661,4423,74000
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443,307,66000
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895,1278,19550
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
374,Casey‚Äôs General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052,181,22408
...,...,...,...,...,...,...,...
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034,332,4800
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838,1,18204
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790,-57,24100
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142,98,7510